.container{
    background-color: #fff;
    padding: 34px 20px;
    gap: 34px;
    width: 229px;
    height: 970px;
    top: 16px;
    left: 16px;
    position: absolute;
    border-radius: 24px;
}
.SideBarImg{
    width: 160px;
    margin-top: 2em;
}
.dash{
    width: 24px;
}
.nav{
    width: 189px;
    gap: 12px;
}
.navLink{
text-decoration : none;
color: black;
font-family : "Space Grotesk";
}
ul li{
    list-style: none;
padding : 12px 16px;
}
.sub-container{
    width: 152px;
    height: 50px;
    display: flex;
    font-family: "Space Grotesk";
    align-items: center;
    gap: 10px;
    padding-top: 30em;
}
.sub-container p{
margin-top: 1em;
}